

<div class="container">
        
     <div class="row">
          <h2>Enter Your Task:</h2>
         		<form action="/to_dos" method="post">
                    <input type="text" id="gardening_task_owner" name="gardening_task[owner]" placeholder="Enter Task Owner">
                     <input type="text" id="gardening_task_description" name="gardening_task[description]" placeholder ="Enter Gardening Task">
                      <input type="text" id="gardening_task_due_date" name="gardening_task[due_date]" value="Enter Due Date">
                    <input type="submit">
               </form>
     </div>
     

</div>    
