<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Gardening To Do's</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
 </head>
   
 <body>
<div class="container">
         
     <div class="hero-unit">
         <h1>Your Gardening Task List</h1>
     
         <p><a href="/new" class="btn btn-primary btn-large">ADD TASK HERE&raquo;</a></p>
     </div>
        
     
    <div class="col-sm-4">
         <h2>Your Open Tasks:</h2>
         <ul class="list-group">
            <% @to_dos.each do |to_do|%>
                <li><%= to_do.description %>  <a href="/to_dos/<%=to_do.id %>/edit">Edit</a>  <a href="/to_dos/<%=to_do.id %>/delete">Delete</a></li> 
            <% end %>  
         </ul>
    </div>
     
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
 </body>
</html>