

<div class="container">
        
     <div class="row">
          <h2>Enter Your Task:</h2>
         		<form action="/to_dos" method="post">
                    <input type="text" id="gardening_task_description" name="gardening_task[description]" value="<%= @new_garden_task.description %>">
                    <input type="submit">
               </form>
       
     

</div>    