<div class="container">
        
     <div class="row">
          <h2>Delete Your Task:</h2>
         		<form action="/to_dos/#{:id}/delete" method="post">
	         		<input type="hidden" name="_method" value="delete">
	               <input type="hidden" id="garden_task_description" name="garden_task[description]">
	               <input type="submit">
             	</form>
       
     </div>

</div> 