<div class="container">
        
     <div class="row">
          <h2>Update Your Task:</h2>
         		<form action="/to_dos/#{:id}/edit" method="post">
         			<input type="hidden" name="_method" value="put">
                    <input type="text" id="garden_task_description" name="garden_task[description]">
                    <input type="submit">
               </form>
       
     </div>

</div>  