<div class="container">
         
     <div class="hero-unit">
         <h1>Your Gardening Task List</h1>
     
         <p><a href="/choose" class="btn btn-primary btn-large">ADD TASK HERE&raquo;</a></p>
     </div><!-- .hero-unit -->
        
 <div class="row">
    <div class="span6">
         <h2>Your Open Tasks:</h2>
         		<ul>
							<% @to_dos.each do |to_do|%>
							<li><%= to_do%></li>
							<% end %>
						</ul>
       
    </div>
